---
import type { CollectionEntry } from "astro:content";
import Icon from "./Icon";
import Countdown from "./Countdown.astro";
import { defaultReleaseDate } from "@scripts/lib";

export type Props = CollectionEntry<"creations">;
const { data, slug, id } = Astro.props;

const dateReleased = defaultReleaseDate(data.released, "creations", id);
---

<div
	class="card mt-2"
	style="width: 20rem;"
>
	<div class="card-body">
		<h5 class="card-title">{data.title}</h5>
		{
			data.description ? (
				<div class="card-text">{data.description}</div>
			) : undefined
		}

		<div class="row my-1 mx-2 gap-2">
			<div class="col-auto px-0">
				<a
					href={`/creations/${slug}`}
					class="btn btn-primary btn-sm"
					>View details</a
				>
			</div>
			{
				data.externalLinks?.map((v) => (
					<div class="col-auto px-0">
						<a
							href={v.url}
							title={v.title}
							target="_blank"
							rel="noopener noreferrer"
							class="btn btn-primary btn-sm"
						>
							{v.title}&nbsp;
							<Icon
								iconName="box-arrow-up-right"
								style={{ fontSize: ".625em" }}
							/>
						</a>
					</div>
				))
			}
		</div>
	</div>
	{
		dateReleased ? (
			<div class="card-footer text-center text-body-secondary">
				<div class="row">
					<div class="col">
						<Countdown date={dateReleased} />
					</div>
				</div>
			</div>
		) : undefined
	}
</div>
