---
import { capitaliseWords } from "../lib";
import { creativeMediums } from "../scripts/data";
const defaultActiveTab = 0;
---

<div class="card text-center mt-3">
	<div class="card-body">
		<div class="card-text">
			<div
				class="carousel slide"
				id="carouselContainer"
			>
				<div class="carousel-indicators">
					{
						creativeMediums.map((v, i) => (
							<button
								class:list={[
									{
										active: i == defaultActiveTab,
									},
								]}
								id={`nav-${v.id}-tab`}
								data-bs-target={`#carouselContainer`}
								data-bs-slide-to={i}
								type="button"
								title={v.tabName}
								role="tab"
								aria-controls={`nav-${v.id}`}
								aria-current={i == defaultActiveTab ? "true" : "false"}
							>
								{/*v.tabName.replace(" ", "\xa0")*/}
							</button>
						))
					}
				</div>
				<div class="carousel-inner">
					{
						creativeMediums.map((v, i) => (
							<div
								class:list={[
									"carousel-item",
									{
										active: i == defaultActiveTab,
									},
								]}
							>
								<div class="d-block">
									<h3>
										{capitaliseWords("I create " + v.id.replace("-", " "))}
									</h3>
									{v.bodyText.split("\n").map((t) => (
										<p>{t}</p>
									))}
									<br />
								</div>
							</div>
						))
					}
				</div>
				<button
					class="carousel-control-prev"
					type="button"
					data-bs-target="#carouselContainer"
					data-bs-slide="prev"
					style="left: -8%;"
				>
					<span
						class="carousel-control-prev-icon"
						aria-hidden="true"
					></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button
					class="carousel-control-next"
					type="button"
					data-bs-target="#carouselContainer"
					data-bs-slide="next"
					style="right: -8%;"
				>
					<span
						class="carousel-control-next-icon"
						aria-hidden="true"
					></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div>
