---
import "../assets/global.scss";
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.min.css";
import { ViewTransitions } from "astro:transitions";
import logo from "../assets/logo.png";

import { isOnline } from "../scripts/data";

export interface Props {
	theme: "dark" | "light";
}
const { theme } = Astro.props;
const online = import.meta.env.PROD || isOnline();
---

<!DOCTYPE html>
<html
	lang="en-UK"
	data-bs-theme={theme}
>
	<head>
		<meta charset="UTF-8" />
		<!-- "charset" meta element should be the first thing in <head> -->
		<link
			rel="preload"
			href="/grain1.svg"
			as="image"
			type="image/svg"
			media="(prefers-color-scheme: dark)"
		/>
		<script>
			console.log(
				"%cHELLO THERE",
				"background: black; color: red; font-size:4.5rem;"
			);
			console.log(
				"%cSo, you fancied having a look at my website",
				"background: black; color: red; font-size:2rem;"
			);
			console.log(
				"%cFair enough I guess\nIf you find any bugs could you report them?",
				"background: black; color: green; font-size:1rem;"
			);
		</script>
		<!-- Default bootstrap -->
		<script
			is:inline
			src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
		></script>
		<script src="../scripts/tooltips.ts"></script>

		<link
			rel="preload"
			as="image"
			href={logo.src}
		/>
		<base href={Astro.url.origin} />

		<!-- Meta -->

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<link
			rel="icon"
			href={logo.src}
		/>

		<link
			rel="alternate"
			type="application/rss+xml"
			title="RSS"
			href="/rss"
		/>
		<ViewTransitions fallback="none" />

		<!-- Head slot -->
		<slot name="head" />
	</head>
	<body>
		{
			import.meta.env.DEV ? (
				<div
					class="position-fixed top-0 end-0 m-0"
					style="z-index: 10000; width: fit-content; padding-right: 201px;"
				>
					<svg
						class="e-0 position-absolute"
						style="width: min-content; height: min-content;"
						xmlns="http://www.w3.org/2000/svg"
						width="201"
						height="30"
						viewBox="0 0 201 30"
					>
						<text
							y="30"
							style="position:absolute; right:0; top:0;stroke: black; fill: red; stroke-width: 1.5px; font-size: 30px;"
						>
							DEVELOPMENT
						</text>
					</svg>
				</div>
			) : undefined
		}
		<!-- Before content slot -->
		<slot name="before-content" />
		<!-- Content -->
		<slot />
		<!-- After content slot -->
		<slot name="after-content" />
	</body>
</html>
